@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #ededed;
    background: #311f13;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #a87e62;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover{
    color: #c24238;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(../images/music.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:    .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color:#0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #c24238;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #c24238,
    0 0 25px #c24238;
}
.btn-box:hover {
    box-shadow: 0 0 5px #c24238,
    0 0 25px #c24238, 0 0 50px #c24238, 
    0 0 100px #c24238, 0 0 200px #c24238;
}

/* About Me Start */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color:#c24238;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
/* About Me End */

/*Music Info Start */
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color:#c24238
}
.container {
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 20px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 2px #D2122E,
               1px 1px 40px #fd5c63
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    transform: translateY(-10px);
}


/* Music Info End */

/* Decades Format Start */
.decade .header{
background: #4E5021;
}
.decade .body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #E6DBCE;
}
.decade{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}
.decade .left{
    overflow: hidden;
}
.decade .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.decade .left img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    cursor: pointer;
}
.decade .right{
    display: flex;
    align-items: center;
}
.decade .right .content{
    padding-left: 20px;
    background-color: white;
    border: 10px solid #B3B995;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.decade .right .content h1{
    font-size: 40px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #EFBE7D;
}
.decade .right .content h2{
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #847C5F;
}
.decade .right .content h3{
    font-size: 25px;
    line-height: 26px;
    padding-bottom: 15px;
   color:   #BC8A7E;
}
.decade .right .content p{
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #E3785E;
}

.seventy .decade .right .content{
    border: 10px solid #91c2b3;
}
.seventy .decade .right .content h1{
    color: black;
}
.seventy .decade .right .content h2{
    color: #d25b16;
}
.seventy .decade .right .content h3{
   color: #dd811c;
}
.seventy .decade .right .content p{
    color: #91c2b3;
}
.seventy .decade .left img{
    border: 6px solid black;
}

.eighty .decade .right .content{
    border: 10px solid white;
}
.eighty .decade .right .content h1{
    color: #ec3984;
}
.eighty .decade .right .content h2{
    color: #ec3984;
}
.eighty .decade .right .content h3{
   color:#ec3984;
}
.eighty .decade .right .content p{
    color: #ec3984;
}

.ninety .decade .left img{
    border: 5px solid white;
}
.ninety .decade .right .content{
    border: 10px solid white;
}
.ninety .decade .right .content h1{
    color: #8c0918;
}
.ninety .decade .right .content h2{
    color: #036163;
}
.ninety .decade .right .content h3{
   color:#5f5653;
}
.ninety .decade .right .content p{
    color: #0a1417;
}
/* Decades Format Emd */












/* Gallery Start */

/* Gallery End */


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1280px) {
    .decade .right .content{
        padding-left: 0px;
    }
}
@media (max-width: 768px){
    .decade{
        width: 90%;
        grid-template-columns: 1fr;
    }
}